/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Outros  Estilos
-------------------------------------------------- */

.erro{
	color: red;
	font-weight: bold;
}
.expand{
	width: 100%;
	heigh:100%;
	z-index: -2;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom: 0px;
}
.expand-image{
	width: 100%;
}
.teste{
	background-color: white;
	min-height: 400px;
}
.bg-black{
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	heigh:100%;
	z-index: -1;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom: 0px;
}
.btn-circle{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.grid{
	margin: auto;
	margin-top: 100px;
}
.cor-menu{
	background-color: rgb(41,53,65);
}
.item-menu{
	color:white;
}
body{
	background-color: rgb(235,235,235);
}
.card-titulo{
	background-color: white;
}
.card-container{
	width:1200px;
}